$accentColor = #1A98FF
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #1A98FF
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$codeBgColor = #f8f8f8
