$accentColor = #1A98FF
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #1A98FF
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

.home .hero img {
  max-height 220px
}

table {
  border-collapse collapse
  word-wrap break-word
  margin-bottom 20px
  table-layout auto
  display table
  text-align left
  width 100%
}