
// values are default one from jv-light template
.jv-light {
  background: #fff;
  white-space: nowrap;
  color: #525252;
  font-size: 14px;
  &.boxed {
    border-radius: 0 !important;
    border: 0 !important;
  }

  .jv-ellipsis {
    color: #999;
    background-color: #eee;
    display: inline-block;
    line-height: 0.9;
    font-size: 0.9em;
    padding: 0px 4px 2px 4px;
    border-radius: 3px;
    vertical-align: 2px;
    cursor: pointer;
    user-select: none;
  }
  .jv-button { color: #49b3ff }
  .jv-key { color: #111111 }
  .jv-item {
    &.jv-array { color: #111111 }
    &.jv-boolean { color: #fc1e70 }
    &.jv-function { color: #067bca }
    &.jv-number { color: #fc1e70 }
    &.jv-number-float { color: #fc1e70 }
    &.jv-number-integer { color: #fc1e70 }
    &.jv-object { color: #111111 }
    &.jv-undefined { color: #e08331 }
    &.jv-string {
      color: #1a98ff !important;
      word-break: break-word;
      white-space: normal;
    }
  }
  .jv-more {
    background: rgba($color: #fff, $alpha: .7) !important;
    &:after {
      display: none;
    }
  }
  .jv-code {
    .jv-toggle {
      &:before {
        padding: 0px 2px;
        border-radius: 2px;
      }
      &:hover {
        &:before {
          background: #1a98ff;
        }
      }
    }
  }
}